:root {
  --primary: #2f3542;
  --secondary: #4b4b4b;
  --accent_b: #0a2f61;
  --accent: #47acff;
  --accent2: #2e76d5;
  --white: #fff;
}

* {
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--accent_b);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--accent);
}

.nav {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .nav {}

  .box {}
}

.logo {
  margin-left: auto;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
}

.box {
  color: white;
  width: 30px;
  margin-left: auto;
  margin-left: 2rem;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  margin-left: auto;
  display: flex;
  align-content: center;
}

.cart-count {
  position: absolute;
  background-color: var(--primary);
  top: -5px;
  right: 0;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  z-index: 99;
}

#cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 4rem;
  margin: auto;
  width: 100%;
}

.shop-content {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
}

.img_wrapper {
  position: relative;
  background-color: var(--white);
  padding: 10px;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  border-radius: 9px;
}

.pic {
  overflow: hidden;
}

.pic:hover img {
  transform: scale(1.5);
}

.access_imgs {
  transition: 0.4s;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.food-title {
  font-size: 1rem;
  font-weight: 600;
  color: #ff6348;
}

.food-price {
  font-weight: 500;
}

.add-cart {
  position: absolute;
  margin: 1px;
  border-radius: 7px;
  bottom: 0;
  left: 0;
  background-color: var(--accent2);
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.5s;
}

.add-cart:hover {
  background-color: var(--accent);
}


.cart {
  position: fixed;
  top: 0;
  right: -110%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}

.cart-active {
  right: 0;
  transition: 0.5s;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.cart-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.price-box {
  display: flex;
  justify-content: space-between;
}

.cart-food-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ff6348;
  font-weight: 500;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
  padding: 12px 20px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

#cart-close {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}

/*slider*/
body,
.wrap,
#slider,
.slide-content {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-family: Calibri, sans-serif;
  width: 100%;
  height: 10%;
  overflow-x: hidden;
}

.wrap {
  position: relative;
  background: var(--accent2);
  border-radius: 100vmax;
  padding: 1rem;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.slide1 {
  background-image: url(http://via.placeholder.com/1200x780/0084bf)
}

.slide2 {
  background-image: url(http://via.placeholder.com/1200x780/647ae4)
}

.slide3 {
  background-image: url(http://via.placeholder.com/1200x780/8674ea)
}

.slide {
  display: block;
  width: 80%;
  margin: auto;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
}

.title {
  direction: rtl;
  margin: 2rem;
  color: whitesmoke;
  font-weight: 600;
}

.slide-content span {
  color: var(--white);
  font-size: 1.8rem;
  margin-left: auto;
  user-select: none;
}

.arrow {
  cursor: pointer;
  height: 0;
  width: 0;
  border-style: solid;
  position: absolute;
  top: 50%;
  margin-top: -35px
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent var(--white) transparent var(--white);
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent var(--white) transparent var(--white);
  right: 0;
  margin-right: 30px;
}